@page "/obsViewerTabs/{symbol}"
@inherits BasePage
<MudLayout>
    <MudPaper Outlined="true" Class="d-flex mt-5 mb-5 pa-3 justify-space-around align-center">
       
        <MudLink href="@($"seriesViewer")">
            <ChildContent>
                <MudButton StartIcon="@Icons.Material.Filled.ArrowBackIos" Variant="Variant.Filled" Color="Color.Default" Style="text-transform:none">Series</MudButton>
            </ChildContent>
        </MudLink>

        <h2>@symbol</h2>
        
        <div class="d-flex justify-content-center align-content-center">
            <MudRadioGroup @bind-SelectedOption="@showDenseObs" Class="d-flex justify-content-center align-content-center">
                <MudRadio Option="@(true)">Dense</MudRadio>
                <MudRadio Option="@(false)">Sparse</MudRadio>
            </MudRadioGroup>
        </div>
    </MudPaper>
    <MudTabs Elevation="1" Rounded="true" PanelClass="pa-6" KeepPanelsAlive="false" >

        <MudTabPanel Text="Properties" ToolTip="Series metadata">
            <SeriesProperties @bind-symbol="symbol" />
        </MudTabPanel>

        <MudTabPanel Text="Chart" ToolTip="Chart of observation values" >
            <ObsChart @bind-obs="denseObs" @bind-symbol="symbol" />  @* Bind to denseObs only *@
        </MudTabPanel>

        <MudTabPanel Text="List" ToolTip="Observations in list format" >
            <ObsList @bind-obs="obs" @bind-symbol="symbol" />
        </MudTabPanel>

        <MudTabPanel Text="Pivot Table" ToolTip="Observations as a configurable matrix">
            <ObsPivotTable @bind-obs="obs" @bind-symbol="symbol" />
        </MudTabPanel>

        <MudTabPanel Text="Statistics" ToolTip="Summary information">
            <SeriesStats @bind-symbol="symbol" />
        </MudTabPanel>

        <MudTabPanel Text="Export" ToolTip="Export data">
            <ExportData @bind-obs="obs" @bind-symbol="symbol" />
        </MudTabPanel>
    </MudTabs>
</MudLayout>


@code {

    [Parameter] public string symbol { get; set; }
    [Inject] IContainer container { get; set; }
    private VintageComposerService composerService;
    private bool _showDenseObs;
    private bool showDenseObs
    {
        get => _showDenseObs;
        set
        {
            if (_showDenseObs != value)
            {
                _showDenseObs = value;
                obsChanged.InvokeAsync();
            }
        }
    }


    private IEnumerable<FredObservation> obs
    { 
        get => showDenseObs ? denseObs : sparseObs;
        set { var dummy = value; }
    }


    private IEnumerable<FredObservation> _denseObs { get; set; }
    private IEnumerable<FredObservation> denseObs
    {
        get
        {
            if (_denseObs is null && (sparseObs?.Any() ?? false))
            {
                _denseObs = composerService.MakeDense(sparseObs.ToList<IFredObservation>()).Cast<FredObservation>().ToList();
            }
            return _denseObs;
        }
        set { var dummy = value; }
    }

    private IEnumerable<FredObservation> _sparseObs { get; set; }
    private IEnumerable<FredObservation> sparseObs
    {
        get => _sparseObs;
        set
        {
            if (_sparseObs != value)
            {
                _sparseObs = value;
                _denseObs = null;
                sparseObsChanged.InvokeAsync();
                denseObsChanged.InvokeAsync();
                obsChanged.InvokeAsync();
            }
        }
    }
    public EventCallback<IEnumerable<FredObservation>> sparseObsChanged { get; set; }
    public EventCallback<IEnumerable<FredObservation>> denseObsChanged { get; set; }
    public EventCallback<IEnumerable<FredObservation>> obsChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        composerService = container.Resolve<VintageComposerService>();
        sparseObs = (await serviceClient.CallAsync(x => x.ObservationsService.GetLocalObservations(new string[] { symbol }))).Item;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
         
        }

    }
}
